@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


.App{
  background-color: #FBFBFB;
  max-width: 100%;
  margin: auto;
}

.strip{
   background: linear-gradient(270deg,#0AF5F4 25.28%,#09DB1F 59.7%,#F7F322 97.75%);
   height: 3vh;
   max-width: 100%;
}



.container-main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  max-width: 85%;
  margin: auto;
  overflow: hidden;
  
}

@media screen and (max-width:1025px){

  .container-hero{
    min-height: 50vh;
  }
  .btn{
    margin: .7rem;
   padding: .7rem;
   border-radius: 12px;
 }
 .text-hero p{
  font-size: 2vw;
  
}


}

@media screen and (min-width:1030px){
  
.container-main{
  min-height: 100vh; 
}
.container-hero{
  min-height: 97vh;
}
.btn{
  margin: .6rem;
 padding: 1rem;
 
}
.text-hero p{
  font-size: 1.7vw;
  
}


}

.container-hero{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* min-height: 97vh; */
  flex-wrap: wrap;
  /* font-size: 4vw; */
  font-family: 'Inter', sans-serif;
  line-height: 2%;
  
}

.text-hero{
  /* display: flex;
  flex-direction: column; */
  place-items: center;
  color: #212121;
  
}

.text-hero h1{
  font-size: 8vw;
  font-weight: 900;
  letter-spacing: 0.25rem;
  font-family: "Inter", sans-serif;
}




.container-category{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  
}

.btn{
   box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
   border: none;
   /* margin: .7rem;
  padding: 1rem; */
  border-radius: 12px;
  cursor: pointer;
  background: #ffffff; 
  font-weight: 550;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:focus{
  outline: none ;
  transform: scale(1.2);
}

.container-list{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 10rem;
}

.div-video{
  max-width: 100%;
  padding: .5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  
}

.video{
  margin:0 2rem 0 0;
}

.description h3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.1rem;
}

.description{
  display: flex;
  max-width: 100%;
}

.div-title{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}


